<!-- To use this include you must define:

`start_day` as the first date you want to search
`end_day` as the last date you want to search

-->
{% assign days = start_day | day_range: end_day %}
{% assign today = 'now' | date: "%Y/%m/%d" %}

{% for day in days %}
  {% if day == today %}
    <div class="today">
  {% else %}
    <div>
  {% endif %}
  <span>{{ day }}</span>
  {% assign posts = day | posts_on_date %}
  {% for post in posts %}
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ post.title }}">{{ post.title }}</a>
  {% endfor %}
</div>
{% endfor %}
