<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="dropdown nav-item">
          <button class="dropdown-button">Podcasts <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-content navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ "/podcasts" | relative_url }}">Wrestling With Johners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/turnbuckle" | relative_url }}">Turnbuckle Arms Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/kurt-johansson-show" | relative_url }}">The Kurt Johansson Show</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/chokeslam-wrestling-report" | relative_url }}">The Chokeslam Wrestling Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/kyles-wrestling" | relative_url }}">Kyle's Wrestling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/pull-up-a-seat" | relative_url }}">Pull Up A Seat - A Wrestling Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/pro-wrestling-tonight" | relative_url }}">Pro Wrestling Tonight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/work-the-left-side-podcast" | relative_url }}">Work The Left Side Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/power-hour" | relative_url }}">The Power Hour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/straight-talk-wrestling" | relative_url }}">Straight Talk Wrestling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/guilmy-talks" | relative_url }}">Guilmy Talks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/alliance-pro-wrestling-network" | relative_url }}">Alliance Pro Wrestling Network</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/turning-heel" | relative_url }}">Turning Heel Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/knights-of-the-squared-circle" | relative_url }}">Knights Of The Squared Circle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/doa-bookerman-podcast" | relative_url }}">DOA's Bookerman Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/rope-break" | relative_url }}">Rope Break</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/scumbags-of-wrestling" | relative_url }}">Scumbags of Wrestling Podcast</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/interviews" | relative_url }}">Interviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/half-decent" | relative_url }}">Half Decent Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/articles" | relative_url }}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://prowrestlingtees.com/wrestlingwithjohners" target="_blank">Pro Wrestling Tees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://teespring.com/stores/wrestlingwithjohners" target="_blank">Teespring Merch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/authors" | relative_url }}">Authors</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
