<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/podcasts" | relative_url }}">Wrestling With Johners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/turnbuckle" | relative_url }}">Turnbuckle Arms Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/chokeslam-wrestling-report" | relative_url }}">The Chokeslam Wrestling Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/kyles-wrestling" | relative_url }}">Kyle's Wrestling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/pull-up-a-seat" | relative_url }}">Pull Up A Seat - A Wrestling Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/pro-wrestling-tonight" | relative_url }}">Pro Wrestling Tonight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/kurt-johansson-show" | relative_url }}">The Kurt Johansson Show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/interviews" | relative_url }}">Interviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/articles" | relative_url }}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://prowrestlingtees.com/wrestlingwithjohners" target="_blank">Pro Wrestling Tees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://teespring.com/stores/wrestlingwithjohners" target="_blank">Teespring Merch</a>
        </li>
		<li class="nav-item">
	      <a class="nav-link" href="{{ "/authors" | relative_url }}">Authors</a>
		</li>
      </ul>
    </div>
  </div>
</nav>
