<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
    {% if post.spotify_track_id %}
		<iframe src="https://open.spotify.com/embed-podcast/episode/{{ post.spotify_track_id }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% elsif post.youtube_video_id %}
    <h2>Youtube</h2>
    <a href="https://www.youtube.com/watch?v={{ post.youtube_video_id }}" target="_blank"><img class="restrict-width" src="https://img.youtube.com/vi/{{ post.youtube_video_id }}/0.jpg" /></a>
    {% endif %}

    {% if post.apple_track_id %}
    {% assign author = site.authors | where: 'short_name', post.author | first %}
    {% assign podcast = site.data['podcasts'] | where_exp: 'item', "post.categories contains item.category" | first %}
    <a href="https://podcasts.apple.com/us/podcast/{{ podcast.apple_url }}/id{{ podcast.apple_podcast_id }}?i={{ post.apple_track_id }}" target="_blank">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-apple fa-stack-1x fa-inverse"></i>
				  </span>
    </a>
    </i>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if post.author %}
    {% assign author = site.authors | where: "short_name", post.author | first %}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}</p>
</article>
<hr>
