<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
	{% if post.spotify_track_id %}
		<iframe src="https://open.spotify.com/embed-podcast/episode/{{ post.spotify_track_id }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	{% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if post.author %}
    {% assign author = site.authors | where: "short_name", post.author | first %}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}</p>
</article>
<hr>