{% if social %}
	{% assign source = social %}
{% else %}
	{% assign source = site %}
{% endif %}

<div class="container social">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<ul class="list-inline text-center social-flexbox">
			  {% if source.email %}
					<li class="list-inline-item">
						<a href="mailto:{{ source.email | encode_email }}" title="Email">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="far fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
					</a>
					</li>
			  {% endif %}
			  {% if source.twitter_username %}
					<li class="list-inline-item">
						<a href="https://twitter.com/{{ source.twitter_username }}" target="_blank" title="Twitter">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
				{% if source.facebook_username %}
					{% if source.facebook_username.first %}
						{% for facebook_username in source.facebook_username %}
							<li class="list-inline-item">
								<a href="https://www.facebook.com/{{ facebook_username }}" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						{% endfor %}
					{% else %}
						<li class="list-inline-item">
							<a href="https://www.facebook.com/{{ source.facebook_username }}" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}
				{% endif %}
			  {% if source.facebook_group_id %}
					<li class="list-inline-item">
						<a href="https://www.facebook.com/groups/{{ source.facebook_group_id| cgi_escape | escape }}" target="_blank" title="Facebook">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
				{% if source.tiktok_username %}
				<li class="list-inline-item">
					<a href="https://www.tiktok.com/@{{ source.tiktok_username| cgi_escape | escape }}" target="_blank" title="TikTok">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-tiktok fa-stack-1x fa-inverse"></i>
							</span>
					</a>
				</li>
				{% endif %}
			  {% if source.linkedin_username %}
					<li class="list-inline-item">
						<a href="https://www.linkedin.com/in/{{ source.linkedin_username }}" target="_blank" title="LinkedIn">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
			  {% if source.github_username %}
					<li class="list-inline-item">
						<a href="https://github.com/{{ source.github_username }}" target="_blank" title="GitHub">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
				{% if source.instagram_username %}
					{% if source.instagram_username.first %}
						{% for instagram_username in source.instagram_username %}
							<li class="list-inline-item">
								<a href="https://instagram.com/{{ instagram_username | cgi_escape | escape }}" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						{% endfor %}
					{% else %}
						<li class="list-inline-item">
							<a href="https://instagram.com/{{ source.instagram_username | cgi_escape | escape }}" target="_blank">
								<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					{% endif %}
				{% endif %}
			  {% if source.apple_podcast_id %}
					<li class="list-inline-item">
						<a href="https://podcasts.apple.com/us/podcast/{{ source.apple_username| cgi_escape | escape }}/id{{ source.apple_podcast_id| cgi_escape | escape }}" target="_blank" title="Apple">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-apple fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
			  {% if source.spotify_show_id %}
					<li class="list-inline-item">
						<a href="https://open.spotify.com/show/{{ source.spotify_show_id| cgi_escape | escape }}" target="_blank" title="Spotify">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
			  {% if source.youtube_channel_id %}
					<li class="list-inline-item">
						<a href="https://www.youtube.com/channel/{{ source.youtube_channel_id| cgi_escape | escape }}" target="_blank" title="Youtube">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
			  {% endif %}
				{% if source.twitch_channel_id %}
					<li class="list-inline-item">
						<a href="https://www.twitch.tv/{{ source.twitch_channel_id | cgi_escape | escape }}" target="_blank" title="Twitch">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
				{% endif %}
			  {% if source.anchor_username %}
					<li class="list-inline-item">
						<a href="https://anchor.fm/{{ source.anchor_username| cgi_escape | escape }}" target="_blank" title="Anchor">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<img class="fa-stack-2x anchor-image" src="/assets/vendor/iconfinder/anchor_fm.svg"/>
							</span>
						</a>
					</li>
			  {% endif %}
				{% if source.website_url %}
					{% if source.website_url.first %}
						{% for website_url in source.website_url %}
							<li class="list-inline-item">
								<a href="{{ website_url }}" target="_blank">
										<span class="fa-stack fa-lg">
											<i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-external-link-alt"></i>
											<i class="fas fa-external-link-alt fa-stack-1x fa-inverse"></i>
										</span>
								</a>
							</li>
						{% endfor %}
					{% else %}
						<li class="list-inline-item">
							<a href="{{ website_url }}" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-external-link-alt"></i>
										<i class="fas fa-external-link-alt fa-stack-1x fa-inverse"></i>
									</span>
							</a>
						</li>
					{% endif %}
				{% endif %}
        <li>
          <a href="{{"/feed.xml" | relative_url }}" target="_blank" title="RSS">
            <span class="fa-stack fa-lg">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </a>
			  </li>
			</ul>
		</div>
	</div>
	{% if site.ads.thirteenTen.enabled %}
	<div class="promo-mobile">
		<a href="https://thirteen10.merch.global/" target="_blank">
			<img src="/img/promos/thirteen-10/button-transparent.png" alt="Thirteen 10"/>
		</a>
	</div>
	{% endif %}
</div>
