// Masthead
header.masthead {
  height: 600px;
  text-align: center;
  display: flex;
  align-items: flex-end;

  .overlay {
    opacity: unset;
  }

  .page-heading,
  .post-heading,
  .site-heading {
    @media only screen and (min-width: 768px) {
      padding: 5em 0;
    }
  }

  .page-heading,
  .site-heading {
    h1 {
      background-color: $gray-900;
      border-radius: 25px;
      padding: 0.1em;
    }

    .subheading {
      font-weight: 600;
      background-color: $gray-900;
      border-radius: 25px;
    }
  }

  .post-heading {
    h1 {
      background-color: $gray-900;
      padding: 10px;
      border-radius: 25px;
    }

    h2 {
      background-color: $gray-900;
      border-radius: 25px;
    }

    .meta,
    .subheading {
      background-color: $gray-900;
      border-radius: 25px;
    }

    .meta {
      padding-bottom: 0.1em;
      padding-top: 0.5em;

      > ul {
        > li {
          list-style: none;
        }
      }
    }
  }
}