#search-container {
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#results-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-height: 80vh;
  background-color: white;
  padding: 1em;
  top: 1em;
  bottom: 5vh;
  z-index: 1;
  overflow-y: scroll;
  box-shadow: 0 0 20px #000;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;

  &:empty {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  hr {
    margin-left: 0;
    margin-right: 0;
  }
}
