---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead" style="background-image: url('{{ site.default-background | prepend: site.baseurl | replace: '//', '/' }}')">
s{% endif %}
	<div class="container">
	  <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		  <div class="post-heading">
			<h1>{{ page.name }}</h1>
			<h2 class="subheading">{{ page.position }}</h2>
		  {% if page.facebook_username %}
		  <li class="list-inline-item">
			  <a href="https://www.facebook.com/{{ page.facebook_username }}">
		  <span class="fa-stack fa-lg">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
		  </span>
			  </a>
		  </li>
		  {% endif %}
			{% if page.facebook_group_id %}
			<li class="list-inline-item">
				<a href="https://www.facebook.com/groups/{{ page.facebook_group_id| cgi_escape | escape }}" target="_blank" title="Facebook">
				<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
				</span>
				</a>
			</li>
			{% endif %}
			{% if page.twitter_username %}
      <li class="list-inline-item">
			<a href="https://twitter.com/{{ page.twitter_username }}" target="_blank">
			  <span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
			  </span>
			</a>
      </li>
			{% endif %}
		    {% if page.youtube_channel_id %}
			  <li class="list-inline-item">
				<a href="https://www.youtube.com/channel/{{ page.youtube_channel_id| cgi_escape | escape }}" target="_blank">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
			  </li>
		    {% endif %}
			  {% if page.instagram_username %}
			  <li class="list-inline-item">
				<a href="https://instagram.com/{{ page.instagram_username| cgi_escape | escape }}" target="_blank">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
			  </li>
			  {% endif %}

		  </div>
		</div>
	  </div>
	</div>
</header>

<div class="container">
	<div class="row">
	  <div class="post col-lg-8 col-md-10 mx-auto">

		{{ content }}
		
		<h2>Posts</h2>
		
		<ul>
		  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
		  {% for post in filtered_posts %}
			<li><a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}
      </a></li>
		  {% endfor %}
		</ul>

	  </div>
	</div>
</div>
