---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead" style="background-image: url('{{ site.default-background | prepend: site.baseurl | replace: '//', '/' }}')">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
            <span class="meta">Posted by
              <a href="{{ author.url }}">{{ author.name }}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
    {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="post col-lg-8 col-md-10 mx-auto">

        {{ content }}
		
		<div class="clearfix" style="">
			{% if page.spotify_track_id %}
				<h2>Spotify</h2>
				<iframe src="https://open.spotify.com/embed-podcast/episode/{{ page.spotify_track_id }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			{% endif %}
					
			{% if page.youtube_metadata %}
        <h2>Youtube</h2>
        {% assign youtube_metadata = page.youtube_metadata | split: "," %}
        {% for metadata in youtube_metadata %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 0 %}
        <a href="https://www.youtube.com/watch?v={{ metadata }}" target="_blank"><img title="Play On Youtube" alt="Play On Youtube" class="restrict-width" src="http://img.youtube.com/vi/{{ metadata }}/0.jpg" /></a>
        {% else %}
        <h3>Part {{ metadata}}</h3>
        {% endif %}
        {% endfor %}
      {% elsif page.youtube_video_id %}
				<h2>Youtube</h2>
				<a href="https://www.youtube.com/watch?v={{ page.youtube_video_id }}" target="_blank"><img title="Play On Youtube" alt="Play On Youtube" class="restrict-width" src="http://img.youtube.com/vi/{{ page.youtube_video_id }}/0.jpg" /></a>
			{% endif %}
			
			{% if page.apple_track_id %}
				<h2>Apple Podcast</h2>
				<a href="https://podcasts.apple.com/us/podcast/{{ author.apple_url }}?i={{ page.apple_track_id }}" target="_blank">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-apple fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
				</i>
			{% endif %}
		</div>

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
